* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'georgia';
    color: white;
}

 .container { 
    /* height: 100vh;
margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; */
    font-size: 30px;
    font-weight: bold;
    overflow: hidden;
    padding: 0.5rem;
} 

.text1 {
    position: absolute;
    top: 30%;
    left: 25%;
    letter-spacing: 0.1rem;
    text-align: center;
}

.text {
    font-weight: normal;
    color: rgb(252, 131, 173);
}
.cursor {
    display: inline-block;
    width: 3px;
    background-color: rgb(255, 255, 255);
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}
/* .cursor.typing {
    animation: none;
} */
@keyframes blink {
    0% {background-color: rgb(255, 255, 255); }
    49% {background-color: rgb(255, 255, 255); }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100% { backgorund-color: rgb(255, 255, 255); }
}